.products-internal {
    background: url("../images/bg-products.jpg") no-repeat center;
    background-size: cover;
}

.products-group {
    padding: 60px 0;
}

.products-group h2 {
    color: #FFFFFF;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    top: -180px;
    text-align: center;
    margin-bottom: -56px;
}

.products-group h2:after, .products-group h2:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFFFFF;
    margin: 6px auto 8px auto;
}


.products-icon {
    background: #000000;
    padding: 70px 0;
}

.products-icon img {
    margin: 0 auto;
}

.products-info {
    background: #000000;
}

.products-info p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    height: 180px;
    padding: 30px 40px;
}

.products-info ul li {
    background: #F3C63E;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    float: left;
    width: 229px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
}

.products-info ul li:nth-child(1), .products-info ul li:nth-child(2) {
    margin-bottom: 2px;
}

.products-info ul li:nth-child(even) {
    margin-left: 2px;
}

/* Budget */
.budget {
    background: #000000;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.budget h2 {
    color: #F3C63E;
}

.budget h2:after {
    background: #F3C63E;
}

.form {
    padding-right: 60px;
}

.form label {
    display: block;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    border: 4px solid #F3C63E;
    background: none;
    color: #FFFFFF;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
    display: block;
    width: 100%;
    height: 120px;;
    border: 4px solid #F3C63E;
    background: none;
    color: #FFFFFF;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
    background: none;
    padding: 7px 40px;
}

.budget-data {
    color: #FFFFFF
}

.budget-data h3 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #F3C63E;
    font-weight: bold;
}

.budget-data span {
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.budget-data span:nth-of-type(2) {
    margin-bottom: 40px;
}

.budget-data ul {
    padding-right: 60px;
}

.budget-data ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 15px;
}

.budget-data ul li:nth-child(odd) {
    background: #1D1D1D;
}

.budget-data P {
    margin-top: 8px 0;

}